* {
  box-sizing: border-box;
  text-align: center;
}
html {
  background-color: black;
}
.grid {
  background-color: white;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 20px;
  aspect-ratio: 1;
  border: 1px solid black;
}

.colored {
  background-color: dodgerblue;
}

[color="orange"] {
  background-color: orange;
}

[color="green"] {
  background-color: #00ff00;
}
[color="red"] {
  background-color: #ff0000;
}
[color="orange"] {
  background-color: #ff7f00;
}
[color="azure"] {
  background-color: #00ffff;
}
[color="yellow"] {
  background-color: #ffff00;
}
[color="violet"] {
  background-color: #800080;
}
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.play-button {
  background-color: #4caf50;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}
