@font-face {
  font-family: "Tetris";
  src: local("Tetris"), url("./Tetris.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  text-align: center;
}
html {
  font-family: "Tetris";
  background-color: black;
  background: url(../media/background.jpg) no-repeat center center fixed;
  background-position: left;
  background-size: cover;
}

main {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}
.grid {
  background-color: black;
  max-width: 200px;
  min-width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 20px;
  aspect-ratio: 1;
  border: 1px solid white;
}

.colored {
  background-color: dodgerblue;
}

[color="orange"] {
  background-color: orange;
}

[color="green"] {
  background-color: #00ff00;
}
[color="red"] {
  background-color: #ff0000;
}
[color="orange"] {
  background-color: #ff7f00;
}
[color="azure"] {
  background-color: #00ffff;
}
[color="yellow"] {
  background-color: #ffff00;
}
[color="violet"] {
  background-color: #800080;
}
[color="gray"] {
  background-color: gray;
}
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  background-color: #4caf50;
  height: 40px;
  width: 100px;
  font-size: 1rem;
  font-family: inherit;
  margin-top: 20px;
  cursor: pointer;
}

.side-panel {
  color: white;
  padding-left: 30px;
}
